.Menu{
    width:100%;
    margin:0 auto;
  
    display:flex;
    height:5%;
   
}
.subMenu{
    width:33.33%;
    height:100%;
   display:flex;
   align-items:center;
   justify-content:center;
    text-align:center;
    font-size:1.8rem;
    font-weight:bold;
    color:white;
    background-color:black;
}
